@use "../globals/colors.scss";

#footer {
  background-color: colors.$bgRegular;
}

.footer--row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 5rem 0;

  @media screen and (min-width: 48rem) {
  }

  nav {
    ul {
      display: flex;
      gap: clamp(1rem, 2vw, 2rem);
    }
  }
}

.footer--title {
  margin-bottom: 1rem;
  color: colors.$textDark;
  font-weight: 500;
  font-size: clamp(2rem, 4vw, 3rem);
  line-height: 1.2;
}

.footer--trademark {
  padding-bottom: 1rem;
  color: colors.$textRegular;
  font-weight: 200;
  font-size: 0.8rem;
  line-height: 1.5rem;
  text-align: center;

  @media screen and (min-width: 48rem) {
  }
}

.nextmove {
  display: block;
  padding-bottom: 1rem;
  color: colors.$textRegular;
  font-weight: 200;
  font-size: 0.8rem;
  line-height: 1.5rem;
}
