@use "../globals/colors.scss";

#hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: colors.$bgRegular;
  padding: 5rem 0; //clamp(5rem, 7rem, 9rem) 0;

  .hero--row {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    max-width: 75rem;

    @media screen and (min-width: 48rem) {
      flex-direction: row;
      align-items: center;
      gap: 2rem;
    }

    .hero--content {
      @media screen and (min-width: 48rem) {
        width: 100%;
        max-width: 50%;
      }
      .hero--topline {
        margin-bottom: 0.5rem;
        color: colors.$brand;
        font-weight: 700;
        font-size: 0.9rem;
        letter-spacing: 2px;
        text-transform: uppercase;
      }
      .hero--title {
        margin-bottom: 1rem;
        color: colors.$textDark;
        font-weight: 700;
        font-size: clamp(2.5rem, 6vw, 3.5rem);
        line-height: 1.2;
      }
      .hero--description {
        margin-bottom: 2rem;
        max-width: 27rem;
        color: colors.$textRegular;
        font-weight: 400;
        font-size: 1.1rem;
        line-height: 1.5rem;
      }
      .hero--btn {
        display: block;
        cursor: pointer;
        box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
        border: none;
        border-radius: 5px;
        background-color: colors.$brand;
        padding: 1rem;
        width: 100%;
        // max-width: 27rem;
        color: colors.$white;
        font-weight: 600;
        font-size: 1.2rem;
        text-align: center;

        &:hover {
          transition: all 0.5s ease;
          background-color: colors.$primary;
        }
      }
    }

    .hero--image {
      width: 100%;
      @media screen and (min-width: 48rem) {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      img {
        width: 100%;
        // max-width: 27rem;
        object-fit: cover;
      }
    }
  }
}
