@use "../../styles/globals/colors.scss";

.navbar--container {
  display: flex;
  position: sticky;
  top: 0;
  align-items: center;
  z-index: 100;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  background: colors.$bgRegular;
  height: 5rem;

  .navbar--wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 1.875rem;
    width: 100%;
    max-width: 75rem;

    @media screen and (min-width: 40rem) {
      padding: 0 3.125rem;
    }
  }

  .nav--menu {
    display: none;
    z-index: 100;

    @media screen and (min-width: 40rem) {
      display: flex;
      gap: 1.875rem;
    }
  }

  .active {
    display: flex;
    position: absolute;
    top: 5rem;
    right: 0;
    bottom: 0;
    left: 0;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    opacity: 1;
    transition: all 0.5s ease;
    background: colors.$bgRegular;
    padding-top: 3rem;
    height: 100vh;
    font-size: 1.5rem;
  }
}

.mobile--icon {
  z-index: 100;
  cursor: pointer;
  font-size: 1.8rem;

  @media screen and (min-width: 40rem) {
    display: none;
  }
}
